* {
  margin-top: 0px;
}

body {
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

h3 {
  margin-bottom: 0.5em;
}

.text-align-center {
  text-align: center;
}

h1, h2, h3, h4, h5 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

h1 {
  display: inline-block;
  border-bottom: 5px solid #F4D03F;
  margin-top: 1em;
}

h2 {
  font-size: x-large;
  line-height: 1.4;
}

h1 + h2 {
  margin-top: 0px;
  margin-bottom: 1em;
}

.App-body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin-left: auto;
  margin-right: auto;
  max-width: 70ch;
  padding-left: 10px;
  padding-right: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  margin-top: 1em;
}

.App-logo svg {
  fill: #bada55;
}

.App-header {
  background-color: #F4D03F;
  min-height: 150px;
  padding: 20px;
  color: #333333;
  text-align: center;
}

.App-header h1 {
  border-bottom: 5px solid #FFFFFF;
}

.App-intro {
  font-size: x-large;
  font-weight: bold;
  padding-bottom: 1em;
  margin-top: 2em;
  margin-bottom: 1em;
  border-bottom: 1px solid #eaeaea;
}

p {
  line-height: 1.41;
}

h3 {
  color: #F4D03F;
  background: #333333;
  display: inline-block;
  padding: 4px 6px 5px 6px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
