.App-footer {
  background: #333333;
  color: #F4D03F;
  overflow:hidden;
  padding-bottom: 9em;
  margin-top: 3em;
}

.App-footer h3 {
  padding-top: 15px;
  padding-left: 0px;
}

.App-company-name {
}
